 body {
    font-family: 'Oxygen', sans-serif;
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: 0 0 0 0;
}

img {
    width: 100%;
}

p {
    font-size: 1.25rem;
}

li {
    list-style-type: none;
}

main {
    position: relative;
    display: inline-block;
}

/* NAV BAR */
nav {
    font-family: "Roboto";
    font-weight: 300;
    background-color: #5d8bb9;
    color: white;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    border: 1px solid whitesmoke;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

p, #header {
    margin: 0 1rem 0;
    font-size: 2rem;
    flex-shrink: 1;
}

nav ul {
    list-style-type: none;
    margin: 0 2rem;
    padding: 0;
    text-align: center;
    }
    
nav li { 
    display: inline-block;
    padding: 0;
    font-size: 2rem;
}

nav a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
    transition-duration: 0.3s;
    color: white;
}

nav a:hover {
    background-color: #025290;
    font-weight: bold;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#homeLink {
    height: 75px;
}

#aboutLink {
    height: 75px;
}

#mediaLink {
    height: 75px;
}

#joinLink {
    height: 75px;
}

nav a:visited {
    color: white;
}

/* SPLASH IMG */
#underlay {
    background-color: black;
    text-align: center;
    color: white;
    position: relative;
}

#splash {
    background-image: url("presentation2.jpg");
    opacity: 0.6;
    width: 100%;
    height: auto;
}

#overText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    line-height: 1.4;
    letter-spacing: 0.3rem;
}

/* ABOUT */
#us {
    font-size: 3rem;
}

#intro {
    display: flex;
}

#wouldYou {
    font-size: 1.4rem;
    font-weight: bold;
}

#thenJoin {
    font-size: 1.4rem;
    font-weight: bold;
}

#about {
    font-size: 1.25rem;
    padding: 1rem;
}

#aboutGray {
    background-color: #cedcea;
    border-radius: 6px;
    line-height: 2rem;
    padding: 0;
    margin: 0rem 6rem 0rem 6rem;
}

#aboutWhite {
    font-size: 1.25rem;
    border: 2px solid #025290;
    border-radius: 6px;
    margin: 0 1rem 2rem 1rem;
    padding: 1rem;
}

#aboutBlue {
    font-size: 1.25rem;
    padding: 1rem;
    margin: 0 1rem 2rem 1rem;
    background-color: #025290;
    color: white;
    border-radius: 6px;
}

#cloud {
    margin-bottom: 1rem;
    max-height: 580px;
    max-width: 850px;
}

#cloudBack {
    background-color: white;
}

/* MEDIA */
#media {
    font-size: 3rem;
}

#courier {
    text-decoration: none;
}

.link {
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;
}

.row {
    display: flex;
    padding: 0 4px;
  }
  
.column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 1%;
}

/* JOIN */
#join {
    margin: 2rem 0 2rem 0;
    font-size: 3rem;
}

#national {
    margin: 1rem 0 1rem 0;
}

#invite {
    margin: 0 1rem 1rem 1rem;
    font-size: 2rem;
}

#design {
    color: grey;
}

#preEmail {
    margin: 0;
}